<%- include('partials/header') -%>
<%- include('partials/nav') -%>
<div class="container">
  <h1>profile.ejs</h1>
  <div class="mt-5">
      <div class="col-6">
          <div>
              <p><strong>User Name</strong>: <%= user.userName %></p>
              <p><strong>Email</strong>: <%= user.email %></p>
          </div>
      </div>
      <div class="col-6">
        <h3>My Properties</h3>
        <ol>
        <% for(var i=0; i<properties.length; i++) {%>
          <li class="col-6 justify-content-between mt-5">
            <a href="/property/<%= properties[i]._id%>">
              <p><%= properties[i].address%></p>
            </a>
          </li>
        <% } %>
        </ol>
      </div>  
    </div>
  </div>
</div>
<%- include('partials/footer') -%>