<%- include('partials/header') -%>
<%- include('partials/nav') -%>
<div class="container">
  <h1>property.ejs</h1>
  <div >
    <a class="btn btn-primary" href="/profile">Return to Profile</a>
  </div>
  <div class="row mt-5">
    <div class="">
      <h2><%= property.address %></h2>
        <%if(property.user == user.id){ %>
          <form
            action="/property/deleteProperty/<%=property.id %>?_method=DELETE"
            method="POST"
          >
            <button class="btn btn-primary" type="submit">Delete</button>
          </form>
          <%}%>
        <p><strong>Last Valuation</strong>: $<%= new Intl.NumberFormat().format(property.lastValue) %>
          <button id="updateValueBtn" class="btn-link">update valuation</button></p>
          <div class="updateValueContainer hidden">
            <form action="/property/updatePropertyValue/<%=property.id %>?_method=PUT" method="POST">
              <div class="form-group">
                <label for="inputValue">Value</label>
                <input type="number" class="form-control" id="inputValue" placeholder="estimated value" name="value">
            </div>
            <div class="form-group">
              <label for="inputDate">Date</label>
              <input type="date" class="form-control" id="inputDate" name="date">
            </div>
            <button type="submit" class="btn btn-primary" value="Upload">Update Value</button>
            </form>
          </div>
        <p><strong>Valuation Date</strong>: <%= property.dateValue.toLocaleDateString('en-us', { year:"numeric", month:"short"}) %> </p>
      <%if (property.attomInfo.sale.saleTransDate)  {%>
      <p><strong>Acquired on</strong>: <%= property.attomInfo.sale.saleTransDate %></p>
      <% } %>
      <%if (property.attomInfo.sale.amount.saleamt)  {%>
      <p><strong>Purchase Price</strong>: $<%= new Intl.NumberFormat().format(property.attomInfo.sale.amount.saleamt) %></p>
      <% } %>
      <% if (property.attomInfo.sale.mortgage?.FirstConcurrent?.amount !== undefined) { %>
        <p><strong>Original Loan Amount</strong>: $<%= new Intl.NumberFormat().format(property.attomInfo.sale.mortgage.FirstConcurrent.amount) %></p>
      <% } %>          
      <%if (property.attomInfo?.avm?.amount?.low !== undefined)  {%>
      <p><strong>Current AVM</strong>: $<%= new Intl.NumberFormat().format(property.attomInfo.avm.amount.low) %></p>
      <% } %>
      <p>*AVM Data pulled from the ATTOM api</p>
    </div>
  </div>
  <div>
    <div id="chartPlaceholder"></div>
    <canvas id="myChart"></canvas>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<!-- I passed data from the server-side to the client-side using window.propertyValues instead of making another fetch request -->
<script>
  window.propertyValues = <%- JSON.stringify(property.propertyValues) %>
</script>
<script src="/propertyAPI.js"> </script>

<%- include('partials/footer') -%>
