<%- include('partials/header') -%>
<%- include('partials/nav') -%>
<main class="container">
    <h1>dash.ejs</h1>
    <div class="col-6">
      <h3>My Properties</h3>
      <ol>
      <% for(var i=0; i<properties.length; i++) {%>
        <li class="col-6 justify-content-between mt-5">
          <a href="/property/<%= properties[i]._id%>">
            <p><%= properties[i].address%></p>
          </a>
        </li>
      <% } %>
      </ol>
    </div>
</main>
    

<%- include('partials/footer') -%>